// bower:scss
// endbower

html {
        height: 100%;
}

body {
    background: #fff;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #073c60;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    max-width:100;
}

h1 {
    font-size: 7.2em;
    font-weight: 400;
}

h2 {
    font-size: 2.4em;
    font-weight: 400;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
}

button {
    padding: 5px 10px;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
}

input {
    padding-left: 0px;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    border: none;
    color: #073c60; 
  }

.logo {
    width: 100px;
    height: 33px;
    background: url('../images/coast-logo.svg') no-repeat;
}

.container {
    width: 100%;
    margin: 0 auto;
}

// Start Home Page 

.header-home {
  position: relative;
  width: 100%;
  height: 464px;
  padding-top: 150px;

  background:
    // linear-gradient(
    //   rgba(37, 62, 95, 0.75), 
    //   rgba(37, 62, 95, 0.75)
    // ),
     url('../images/coast-header-2.jpg') no-repeat;
     z-index: 1;

  .sign-up-button {
    display: block;
    width: 100px;
    height: 45px;
    margin: 25px auto;
    background: #fb4349;
    border-radius: 1px;
    z-index: 10;
    color: #fff;

    &:hover  {
      border: 1px solid #fff;
    }
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
    z-index: -10;
  }

  h1 {
    font-size: 8.5em;
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-align: center;
    color: #fff;
    }

  h2 {
    font-size: 3.6em;
    font-weight: 400;
    color: #fff;
  }

  h3 {
      font-size: 2.0em;
      margin: 0;
      padding: 10px 0 0 0;
      text-align: center;
      color: #fff;
  }

  p {
    margin: 0 0;
    padding: 0 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    color: #dfdfd5;
    font-weight: 400;
  }
}

// End Home Page

.login-sign-up-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 5em;

    .logo {
        margin: 0 auto;
        margin-bottom: 25px;
        float: none;
    }

    .login-username {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 285px;
        height: 35px;
        border-radius: 2px 2px 0 0;
        border-top: 1px solid #073c60;
        border-left: 1px solid #073c60;
        border-right: 1px solid #073c60;
    }

    .login-password {
        display: block;
        margin: 0 auto;
        // margin-top: 0.25em;
        width: 285px;
        height: 35px;
        border-radius: 0 0 2px 2px;
        border: 1px solid #073c60;
    }

     .login-button {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        width: 296px;
        height: 40px;
        background: #073c60;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

    .sign-up-username {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
        border: 1px solid #073c60;
    }
    
    .sign-up-password{
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
        border: 1px solid #073c60;
    }
    
    .sign-up-email {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
        border: 1px solid #073c60;
    }
    
    .submit-sign-up-button {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        width: 296px;
        height: 40px;
        background: #073c60;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

    h2 {
        margin: 0 0;
    }

    p {
        margin: 0 0;
        padding-top: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    a {
        margin-top: 1em;
        display: block;
        color: #073c60;
        text-decoration: none; 
        font-size: 1.2em;
    }
}

nav {
  width: 100%;
  height: 65px;

  .logo {
          float: left;
          margin: 15px 0 0 4%;
  }

  .welcome-username {
      float: right;
      font-size: 1.6em;
      margin: 23px 1% 0 0;
  }

  .avatar {
      float: right;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 15px 2% 0 0;
      max-width: 100%;
  }

  .direct-to-login-button {
    float: right;
    margin: 18px 4% 0 0%;
    border: 1px solid #073c60;
    border-radius: 1px;
    background: #fff;

    &:active {

      // transition: background 0.2s;
      // background: #073c60;
      margin: 19px 4% 0 0%;
      // color: #fff;


    }
  }

   .logout-button {
      float: right;
      margin: 23px 4% 0 0%;
      width: 25px;
      height: 25px;
      background: url('../images/logout.svg') no-repeat;
      cursor: pointer;
      z-index: 1;
  }

}
.header {
  position: relative;
  width: 92%;
  height: 300px;
  padding: 0 4% 0 4%;
  margin-bottom: 0.75%;
  background:
    linear-gradient(
      rgba(37, 62, 95, 0.75), 
      rgba(37, 62, 95, 0.75)
    ),
     url('../images/coast-header-1.jpg') no-repeat;

    h1 {
    color: #fff;
    }

    h2 {
        padding-top: 75px;
        margin: 0;
        font-size: 2.8em;
        font-weight: 700;
        color: #fff;
    }

    h3 {
    }

    p {
        margin: 0 0;
        padding: 0 0;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        color: #dfdfd5;
        font-weight: 400;
    }

    .date {
      font-size: 1.6em;
      color: #fb4349;
      text-transform: uppercase;
    }

    .forecast-location {
      padding: 0;
      margin: 0 ;
    }

    .search-region {
        width: 600px;
        border-bottom: 1px solid #fff;
        color: #fff;
        background: none;
        font-size: 7.2em;
        // background: url(../images/search.svg) no-repeat right center;        
      }

    .search-row {
      position: absolute;
      bottom: 0;
      overflow: hidden;

      .search-box {
        float: left;
        width: 220px;
        height: 140px;
        padding: 0 30px 30px 30px;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }

      .search-region {
        position: absolute;
        bottom: 60px;
        width: 201px;
        border-bottom: 1px solid #fff;
        color: #fff;
        background: none;
        background: url(../images/search.svg) no-repeat right center;        
      }

      .search {
        position: absolute;
        bottom: 20px;
        background: none;
        border: 1px solid #fb4349;
        border-radius: 1px;
        color: #fff;
      }

      .upload-feature {
        position: relative;
        float: left;
        height: 171px;
        padding: 20px 20px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: #fb4349;
        margin: 0;
        z-index: 2;
      }

      .slide .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 560px;
        height: 141px;
        padding: 15px 0 15px 60px;
        background-color: #fff;
        color: #333;
      }

    .slide {
      position: relative;
      float: left;
      overflow: hidden;
      height: 171px;
      width: 620px;
      }

     .file-uploader {
        width: 108px;
        height: 29px;
        float: left;
        margin-bottom: 15px;
        cursor: pointer;
        color: transparent;
      } 

      .file-uploader::-webkit-file-upload-button {
        visibility: hidden;
      }

      .file-uploader::before {
        content: 'Select Photo';
        color: #253e5f;
        font-size: 0.75em;
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #fb4349;
        border-radius: 1px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
      }

      .file-uploader:hover::before {
        background: #fb4349;
      }

      .file-uploader:active {
        outline: 0;
      }

    select {
      width: 129px;
      margin-right: 10px;
      margin-bottom: 15px;
      padding: 5px 25px 5px 8px;
      font-family: 'Karla', Helvetica, Arial, sans-serif;
      font-size: 1.4em;
      color: #253e5f;
      border: solid 1px #fb4349;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0;
      background: url(../images/selection-arrow.svg) no-repeat right center;
    }

    .location-entry {
      float: left;
      border-bottom: solid 1px #fb4349;
      clear: right;
      font-size: 1.4em;
    }
    
    input[type='checkbox'] {
      float: left;
      margin-bottom: 15px;
      -webkit-appearance: button;
      width: 25px;
      border-radius: 50%;
      height: 25px;
      cursor: pointer;
      position: relative;
      background: url(../images/compass-gray.svg) no-repeat center;
      transition: background 1s;

      &:focus {
        outline: 0;
      }
    }
    
  
    input[type='checkbox']:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fdfdfd;
      margin: 4%;
      transition: .5s all;
    
    }

    input[type='checkbox']:checked{
      background: url(../images/compass-red.svg) no-repeat center;
    } 

    .current-location {
      clear: right;
      float: left;
    }

    .current-location-about {
      display: inline-block;
      margin-top: 10px;
      color: #ccc;
    }

    .wave-height-selection {
      clear: left;
      float: left;
    }

    .wind-direction-selection {
      float: left;
    }

    .tides-selection {
      float: left;
    }

    .crowd-selection {
      float: left;
    }

    textarea {
      margin: 0;
      width: 270px;
      height: 48px;
    }

    .caption {
      float: left;
      margin: 0 10px 15px 0;
      padding-left: 8px;
      border: solid 1px #fb4349;
    }

     .upload-button {
      float: left;
      margin: 0;
      color: #fff;
      background: #fb4349;
      cursor: pointer;
    }
  }

  .upload {
    float: right;
    margin: 20px 3% 0 0;
    width: 20px;
    height: 20px;
    background: url('../images/upload.svg') no-repeat;
    cursor: pointer;
  }

}



.current-forecast-location {
  // float: left;
  width: 45.5%;
  padding: 0 0 60px 4%;
  margin-right: 0.5%;
  background: #fff;

  .date {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #5f95d6;
  }
}

.wave-height {
  width: 45.5%;
  height: 265px;
  padding: 0 0 0 4%;
  margin: 0 0.5% 0.5% 0%;
  background: #dfdfd5;
}

.wind {
  width: 15%;
  height: 432px; 
  margin: 0 0.5% 0.5% 0.5%;
  background: #fb4349;
  text-align: center;

  .wind-right {
    margin: 2px 70px 5px 0;
    float: right;
    font-size: 1.4em;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .wind-speed {
    display: block;
  }


  .triangle {
    margin: 8px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 16px 5.5px;
    border-color: transparent transparent #fff transparent;
    opacity: 1;

    &:hover {
      opacity: 0;
      // transition: border-color 0.1s;
      // border-style: solid;
      // border-width: 0 5.5px 16px 5.5px;
      // border-color: transparent transparent #3497da transparent; 
    }
  }
}

.tides {
  float: left;
  width: 45.5%;
  height: 120px; 
  padding: 0 0 35px 4%;
  margin: 0.5% 0.5% 0.5% 0;
  background: #253e5f;
  color: #fff;
}

.water-temp {
  text-align: center;
  width: 10%;
  height: 120px;
  border: 5px solid #5f95d6;
}

.water-temp-fahrenheit {
  position: relative;
  font-size: 2.4em;
  color: #5f95d6;
  text-align: center;
}

.temp-divider {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 100px;
  height: 4px;
  // -webkit-transform: rotate(-45deg);
  background: #5f95d6;
}

.water-temp-celcius {
  position: relative;
  text-align: center;
  font-size: 2.4em;
  color: #5f95d6;
}

#map-canvas {
  float: right;
  width: 33.75%;
  height: 265px;
}

// .local-reports {
//   display: relative;
//   float: left;
//   clear: left;
//   width: 96%;
//   margin: 0.75% 0 0.75% 0;
//   padding: 5px 0 5px 4%;
//   background: #5f95d6;
//   color: #fff;
// }

.posts-container {
  position: block;
  opacity: 0;
  width: 96%;
  margin: 0 auto;
  margin-left: 4%;
  -webkit-transition: opacity .8s ease;

  &.visible {
    opacity: 1;
  }
}

.posts-view {
    width: 29.25%;
    margin-right: 4%;
    margin-bottom: 25px;
    margin-top: 0;
}

.user-posts {

  &:hover .post-info{
    display: block;
  }

}

.post-info {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 display: none;

  &:hover {
    background: rgba(223, 223, 213, 0.75);
    transition: all 0.5s ease;  
  }
}

.post-username {
  margin-left: 10px;
  padding-left: 10px;
  font-size: 1.8em;
  font-weight: 700;
}

.post-wave-height {
  margin-left: 10px;
  padding-left: 30px;
  background: url(../images/wave-height.svg) no-repeat center left;
}

.post-wind-direction {
  height: 20px;
  margin-left: 10px;
  padding-left: 30px;
  background: url(../images/wind-direction.svg) no-repeat center left;
}

.post-tide {
  height: 20px;
  margin-left: 10px;
  padding-left: 30px;
  background: url(../images/tides.svg) no-repeat center left;
}

.post-crowd {
  height: 20px;
  margin-left: 10px;
  padding-left: 30px;
  background: url(../images/crowd.svg) no-repeat center left;
}

img {
  max-width: 100%;
}
