// bower:scss
// endbower

html {
        height: 100%;
}

body {
    background: #dfdfd5;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #073c60;
    margin: 0;
    padding: 0;
    height: 100%;
}

// canvas {
//     position: absolute;
//     width: 100%;
//     height: 75%;
//     bottom: 0;
//     z-index: -9999;
// }

img {
    max-width:100;
}

h1 {
    font-size: 3.6em;
    font-weight: 7500;
}

h2 {
    font-size: 2.4em;
    font-weight: 400;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
}

button {
    padding: 5px 10px;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    border: none;
}

input {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    border: none;
    padding-left: 0.5em;
    }

.logo {
    width: 100px;
    height: 33px;
    background: url('../images/coast-logo.svg') no-repeat;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.login-sign-up-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 5em;

    .logo {
        margin: 0 auto;
        margin-bottom: 25px;
        float: none;
    }

    .login-username {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
    }

    .login-password {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;

    }

     .login-button {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        width: 296px;
        height: 40px;
        background: #073c60;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

    .sign-up-username {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
    }
    
    .sign-up-password{
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
    }
    
    .sign-up-email {
        display: block;
        margin: 0 auto;
        margin-top: 0.25em;
        width: 290px;
        height: 35px;
        border-radius: 2px;
    }
    
    .submit-sign-up-button {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        width: 296px;
        height: 40px;
        background: #073c60;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

    h2 {
        margin: 0 0;
    }

    p {
        margin: 0 0;
        padding-top: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    a {
        margin-top: 1em;
        display: block;
        color: #073c60;
        text-decoration: none; 
        font-size: 1.2em;
    }

}

.header {
    position: relative;
    width: 100%;
    height: 350px;
    padding-right: 4%;
    padding-left: 4%;
    background: url('../images/coast-header-1.jpg') no-repeat;


    // .header-overlay {
    // position: absolute;
    // height: 350px;
    // width: 100%;
    // background: rgba(37, 62, 95, 0.75);

    // }

    h1 {
    font-weight: 400;
    color: #fff;
    }

    h2 {
        color: #dfdfd5;
        border-bottom: 1px solid #dfdfd5;
        width: 80%;
    }

    h3 {
        color: #dfdfd5;
        margin: 1em 0 0.25em 0;
    }

    p {
        margin: 0 0;
        padding: 0 0;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #dfdfd5;
    }

    .logo {
        float: left;
        margin: 12px 0 0 0;
    }

    .welcome-username {
        float: right;
        margin: 23px 4% 0 0;
    }

    .avatar {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 15px 2% 0 0;
        max-width: 100%;
    }

     .logout-button {
        float: right;
        margin: 20px 4% 0 0%;
        width: 25px;
        height: 25px;
        background: url('../images/logout.svg') no-repeat;
        cursor: pointer;
        z-index: 1;
    }

    .search-box {
      position: absolute;
      bottom: 0;
      width: 280px;
      padding: 0 30px 30px 30px;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;

      .search-region {
        position: absolute;
        bottom: 30px;
        width: 250px;
        border-bottom: 1px solid #fff;
        color: #fff;
        background: none;
        background: url(../images/search.svg) no-repeat right center;        
      }
    }

  .upload {
      float: right;
      margin: 20px 3% 0 0;
      width: 20px;
      height: 20px;
      background: url('../images/upload.svg') no-repeat;
      cursor: pointer;
  }

}

.upload-post-box{
  width: 100%;

  .upload-feature {
    padding: 5px 4%;
    background: #fb4349;
  }
}

#map-canvas { 
    height: 50%;
    }

img {
    width: 50%;
}

.wave-height {
    width: 75%;
    height: 90px; 
    color: #6dbbda;
    display: block;
}

.tides {
    width: 75%;
    height: 90px; 
    color: #6dbbda;
    display: block;
}

.wind {
    width: 75%;
    height: 90px; 
    color: #6dbbda;
    display: block;
}